<div class="container">
  
 
  
  {{ form_start(form) }}
    {# {{ form_widget(form) }} #}
 <div class="row">
    <div class="col-lg-3">
       {{ form_row(form.prenom)}}

    {{ form_row(form.nom)}}

    {{ form_row(form.email)}}

    {{ form_row(form.section)}}
    </div>

    <div class="col-lg-3">
    {{ form_row(form.post)}}

    {{ form_row(form.telephone)}}
    {{ form_row(form.salaire)}}
    {{ form_row(form.imageFile)}}
    </div>


</div>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}

  
  
  

</div>